<div class="AdminNav">
    <ul>
        <li><a href="/addGame" class="addButton">Add Game</a></li>
        <li><a href="/manage" class="addButton">Manage Game</a></li>
        <li><a href="/logout" class="addButtonLogout">Logout</a></li>
    </ul>
</div>