<nav>
    <ul>
        <li><a href="/category/Action">Action</a></li>
        <li><a href="/category/Adventure">Adventure</a></li>
        <li><a href="/category/Fighting">Fighting</a></li>
        <li><a href="/category/Multiplayer">Multiplayer</a></li>
        <li><a href="/category/OpenWorld">Open World</a></li>
        <li><a href="/category/Racing">Racing</a></li>
        <li><a href="/category/Strategy">Strategy</a></li>
        <li><a href="/category/singleplayer">Single Player</a></li>
        <li><a href="/addGame" class="addButton">Add Game</a></li>
    </ul>
</nav>